<!DOCTYPE html>

<html lang="ru">>
    <head>
        <meta charset="UTF-8">
        <title>apple games</title>
    </head>
    <body>
    <form action="/form/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
     </form>
        <div>
            <h1><a href="/">all games</a></h1>
        </div>

    {% for type in games %}
    <div>
        <h1>{{ type.name }}</h1>
        {% for game in type.games %}
        <h1>{{ game.name }}</h1>
        {% endfor %}
    </div>
{% endfor %}
    </body>
</html>
